@tailwind base;
@tailwind components;

.fc-timegrid-slot-lane {
    height: 100px !important; 
    max-height: 250px !important; 
  }

  .fc-scrollgrid-shrink {
    display: none !important;
  }
@tailwind utilities;

